<footer class="footer">
  {% avatar jozsef-vesza size=100 %}
  <small>Hi! My name is József</small>
  <small>I'm an iOS developer, diving into Combine and SwiftUI 👨🏻‍💻</small>
  <small>Check out my projects on <a href="https://github.com/jozsef-vesza">GitHub</a></small>
  <small>Get in touch on <a href="https://twitter.com/j_vesza">Twitter</a> or <a href="linkedin.com/in/jozsefvesza">LinkedIn</a>.</small>
<small>
  József Vesza &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
</small>
</footer>