<footer class="footer">
  {% avatar jozsef-vesza size=100 %}
  <small>Hi there! My name is Majid.</small>
  <small>I'm Swift developer 👨🏻‍💻SwiftUI addicted 🚀</small>
  <small>Creator of <a href="https://cardiobotapp.com">CardioBot</a> and <a href="https://napbotapp.com">NapBot</a> apps.</small>
  <small>Feel free to follow me on <a href="https://twitter.com/j_vesza">Twitter</a> or <a href="https://github.com/jozsef-vesza">Github</a>.</small>
<small>
  József Vesza &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
</small>
</footer>