// light mode
$primary-color:    #3913B8;
$text-color:       #111 !default;
$background-color: #F2F6FF !default;
$code-snippet-background-color: rgba(57, 19, 184, 0.1);
$code-snippet-box-shadow: 0px 5px 20px rgba(92, 103, 153, 0.3), 0px 0px 3px rgba(0, 0, 0, 0.1);
$primary-color-lighter: lighten($primary-color, 40%) !default;
$primary-color-darker: darken($primary-color, 25%) !default;

// dark mode
$primary-color-dark:    #ff702f;
$text-color-dark:       #FFF !default;
$background-color-dark: #1F1F24;
$code-snippet-background-color-dark: #292A2F;
$code-snippet-box-shadow-dark: transparent;
$primary-color-dark-lighter: lighten($primary-color-dark, 40%) !default;
$primary-color-dark-darker: darken($primary-color-dark, 25%) !default;