@charset "utf-8";

// light mode
$primary-color:    #3913B8;
$text-color:       #111 !default;
$background-color: #F2F6FF !default;
$code-snippet-background-color: rgba(57, 19, 184, 0.1);
$code-snippet-box-shadow: 0px 5px 20px rgba(92, 103, 153, 0.3), 0px 0px 3px rgba(0, 0, 0, 0.1);
$primary-color-lighter: lighten($primary-color, 40%) !default;
$primary-color-darker: darken($primary-color, 25%) !default;

// dark mode
$primary-color-dark:    #e46b34;
$text-color-dark:       #E3E8FF !default;
$background-color-dark: rgba(13, 16, 40, 1);
$code-snippet-background-color-dark: rgba(54, 66, 77, 0.34);
$code-snippet-box-shadow-dark: transparent;
$primary-color-dark-lighter: lighten($primary-color-dark, 40%) !default;
$primary-color-dark-darker: darken($primary-color-dark, 25%) !default;

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
